[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "==1.10.1"
sqlalchemy = "<2"
uvicorn = "*"
python-dotenv = "*"
pymssql = "*"
pandas = "*"
fastapi-pagination = "*"
pymysql = "*"
fastapi-mail = "*"
fastapi-route-logger-middleware = "*"
sqlalchemy-audit = "*"
openpyxl = "*"
numpy = "*"
python-slugify = "*"
sqlalchemy-easy-softdelete = "*"
pyjwt = "*"
passlib = "*"
python-pptx = "*"
python-multipart = "*"
requests = "*"
beautifulsoup4 = "*"
rich = "*"
bcrypt = "==4.0.1"
pypdf2 = "*"
docx = "*"
gunicorn = "*"
reportlab = "*"
moviepy = "*"
pydub = "*"
speechrecognition = "*"
pocketsphinx = "*"
httpx = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.10"

[scripts]
main = "bash -c 'python main.py'"
